*{
    margin:0;
    padding:0;
    font-family: 'poopins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding: 10px 10px;
    width: 1440px;
top: 88px;

}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:0px 99px;

}
.logo{
    width: 200px;
    margin-left: -35px;
    margin-right: 125px;
}
nav a{
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
text-decoration: none;
}
.but{
    width:204px;
height:48px;
top: 21.24px;
left: 1166px;
padding: 16px 32px 16px 32px;
gap: 7.49px;
background: #2B2E66;
color: #fff;


}
.row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
    background: url(background1.png);
    background-position: center;
    background-size: cover;
    margin-left: 50px;
    width:1440px;
    height:680px;
}
.row .teddy{
    width:463.58px;
height:444.94px;
top: 200px;
left: 990px;
padding: 40px 40px 48px 40px;
font-family: Roboto;
border: 1px solid #cccc;
margin-left: 933px;

}
.row .teddy .box{
    width: 358px;
    height: 56px;
    border-radius: 1.5px;
    border: 1.5px solid #D2D2D2;
    margin-bottom: 30px;
    font-size: 21px;
    padding-left: 20px;
    }
button{
    width: 196px;
height: 48px;
top: 1304px;
left: 97px;
background: #2B2E66;
border: none;
align-items: center;
margin-left: 85px;
color: #fff;
}
h1{
    font-family: Roboto;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: center;
color: #2B2E66;
padding: 15px;
}
.teddy{
    border:1px solid #cccc;
    background-color: #ffff;
}
/*----------------part2-------------*/
.r2{
    display:flex;
    flex-wrap:wrap;
    padding-top:50px;
    width: 1440px;
}
.bg1{
    display: flex;
}
.bg1 img{
    width: 720px;
    height: 630px;

}
.bg2{
    display:flex;
    width: 720px;
}
.bg2 .t1{
font-family: Roboto;
font-size: 40px;
letter-spacing: 0em;
text-align: left;
color:#2B2E66;

}
p.t1{
    padding-top:0px;
    font-weight: 700;

}
.t2{
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 0;
letter-spacing: 0em;
text-align: left;
color:#D6B25E;
padding-top: -5px;
}

.bg2-row1{
    flex-basis:50%;
    display:inline-block;
    padding-left:70px;
}
.bg2-row2{
    flex-basis:50%;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:20px;
    margin-top:50px;
    
}
.box{
    background-color:#ffff;
    text-align:center;
    border:1px solid #D6B25E;
    width: 235px;
    height: 145px;
    top: 1224px;
    left: 821px;
    padding:20px 20px 0px 20px;

}
.box p{
font-size: 15px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
color: #757575;

}
.bb1{
top: 1409px;
left: 820px;
padding: 12.5px 32px 12.5px 32px;
gap: 10px;
color: #fff;

}
/*----------------------------------part3-----------------------*/
.r3{
    display:flex;
    flex-wrap:wrap;
    padding-top:50px;
    background:url(Group-127.png);
    margin-top: 50px;
    width: 1440px;
height: 603px;
top: 1558px;

}
.bag1{
    display: flex;
}
.bag2{
    display:flex;
    margin-left:50px;
    width: 496px;
height: 116px;
top: 1638px;
left: 70px;

}
.bag2 .txt1{
font-family: Roboto;
font-size: 56px;
font-weight: 300;
letter-spacing: 0em;
text-align: left;
color:#fff;
line-height: 57.68px;

}
p.txt1{
    padding-top:0px;
    font-weight: 700;

}
.txt2{
font-family: Roboto;
font-size: 56px;
font-weight: 700;
letter-spacing: 0em;
text-align: left;
color:#D6B25E;
padding-top: 10px;
width: 496px;
height: 116px;
}

.bag2-rw1{
    display:inline-block;
    padding-left:30px;
    width: 496px;
height: 116px;


}
.pp{
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #fff;
margin-top: 20px;
}
.bt{
    width:145px;
height: 48px;
top: 1947px;
left: 70px;
padding: 12.5px 32px 12.5px 32px;
gap: 10px;
background: #D6B25E;
color: #fff;
margin-left: 1px;
margin-top: 40px;
}
.box p{
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #757575;
}
/*-------------------------part4---------------------------*/
#p4{
    display: flex;
}
.r4{
    display:flex;
    flex-wrap:wrap;
    padding-top:50px;
}
.xy1{
    display: flex;
}
.xy1 img{
    width: 720px;
height: 630px;
top: 2241px;
left: 720px;
margin-left: 110px;


}
.xy2{
    display:flex;
    flex-basis:45%;
    margin-left:50px;
}
.xy2 .tt1{
font-family: Roboto;
font-size: 40px;
letter-spacing: 0em;
text-align: left;
color:#2B2E66;

}
p.tt1{
    padding-top:0px;
    font-weight: 700;

}
.tt2{
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 0;
letter-spacing: 0em;
text-align: left;
color:#D6B25E;
padding-top: 10px;
}

.xy2-r1{
    flex-basis:50%;
    display:inline-block;
    padding-left:30px;
}
.xy2-r2{
    flex-basis:50%;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:20px;
    margin-top:50px;
    
}
.bx{
    background-color:#ffff;
    text-align:center;
    border:1px solid #D6B25E;
    width: 235px;
    height: 145px;
    top: 1224px;
    left: 821px;
    padding:20px 20px 0px 20px;

}
.bx p{
font-size: 15px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
color: #757575;

}
.b10{
top: 1409px;
left: 820px;
padding: 12.5px 32px 12.5px 32px;
gap: 10px;
color: #fff;

}
/*--------------------------part5----------------------------------*/
.r5{
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    background: url(vasaviatlantis.png);
    background-position: center;
    background-size: cover;
    width:1440px;
    height:680px;
    margin-top: 50px;
}
.heading{
    color: #fff;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;

}
.para{
    color: #fff;
    font-family: Roboto;
font-size: 21px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;

}
.abc{
    margin-left: 630px;
    margin-top:25px;
    background-color: #D6B25E;
}
/*---------------------------------part6---------------------------*/
#r6{
    padding-top:50px;
}
.hydp1{
    width: 1022px;
height: 53px;
margin-left: 209px;
font-family: Roboto;
font-size: 46px;
font-weight: 600;
letter-spacing: 0em;
text-align: center;
color:#2B2E66;

}
.hydp2{
    width: 1285px;
    height: 59px;
    top: 3938px;
    margin-left: 77px;
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color: #747474;
}

.span1{
    font-size:67px;
    font-weight: 700;
}
.span1>.span2{
    display:inline-flex;
    width: 24px;
height: 30px;
top: 4237px;
left: 193px;

}
.boxes{
    flex-basis:50%;
    grid-gap:20px;
    margin-top:50px;
    display:flex;
    }
.box-1{
    width: 310px;
    height: 376px;
    top: 4037px;
    left: 70px;
    
    background-color:#2B2E66;
    text-align:center;
    border:1px solid #D6B25E;
    top: 1224px;
    padding:20px 20px 0px 20px;
    color:#ffff;

}
.box-2{
color: #ffff;
width: 220px;
height: 139px;
top: 4205px;

font-family: Roboto;
font-size: 21px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
}
.pgm{
    display:inline-block;
}
.p6{
    align-items: center;
}
.box-1 img{
    width: 66.64px;
    height: 60px;
    top: 4105px;
    left: 192px;    
}
.box-1{
   display:grid;
   place-items: center;
}
/*-----------------------------------------part7------------------*/
#r7{
    padding-top:50px;
}
.hdp1{
    width: 1022px;
height: 53px;
margin-left: 209px;
font-family: Roboto;
font-size: 46px;
font-weight: 600;
letter-spacing: 0em;
text-align: center;
color:#2B2E66;

}
.hdp2{
    width: 1285px;
    height: 59px;
    top: 3938px;
    margin-left: 77px;
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color: #747474;
padding: 20px;
}
.bxy{
    background-color:#ffff;
    text-align:center;
    border:1px solid #D6B25E;
    width: 234px;
    height: 242px;
    top: 1224px;
    left: 821px;
    padding:20px 20px 0px 20px;
    color: #747474;
    margin-top: 40px;

}
.abcd{
    width: 1440px;
top: 4493px;
display: grid;
grid-template-columns: repeat(5,1fr);
gap: 20px;
max-width: 100%;
margin-left: 71px;
padding: 40px;

}
.xyz{
    align-items: center;
    margin-top: 20px;
    margin-left: 613px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap:20px;
    margin-top:50px;
    width: 48px;
height: 48px;
top: 5566px;
margin-left: 480px;

}
.column,.column1 {
    border: 1.8px solid #2B2E66;
    padding: 5px;
    text-align: center;
    color:#2B2E66;
    font-family: Roboto;
font-size: 28px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0em;
text-align: center;
width:48px;
height:48px;
top: 5571px;
left: 640px;

}
/*------------------------------part8---------------*/
.p8{
    margin-top: 50px;
    background-color: #2B2E66;
    width: 1439px;
height: 1521px;
top: 5844px;
left: 1px;
background-position: center;
background-size: cover;

}
.pedestrian{
    display: flex;
}
.site{
    font-family: Roboto;
font-size: 46px;
font-weight: 600;
line-height: 53px;
letter-spacing: 0em;
text-align: center;
color: #fff;
padding-top: 35px;
}
.pg1{
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color: #fff;
margin-top: 10px;
}
.sitelayout{
    width: 1300px;
height: 617.91px;
margin-left: 75px;
margin-top: 30px;
}
.order{
    margin-left: 40px;
    color: #fff;
    display: flex;
}
.klo{
    width: 280px;
    height: 504px;
    top: 6753px;
    margin-left: 60px;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color:#ffff;  
    margin-top: 110px;  
}
/*------------part9-----------------*/
.floorplan-text1{
    width: 236px;
height: 53px;
top: 7445px;
margin-left: 72px;
font-family: Roboto;
font-size: 46px;
font-weight: 600;
line-height: 53px;
letter-spacing: 0em;
text-align: left;
}
.floorplan-text2{
 
    width: 546px;
    height: 107px;
    top: 7514px;
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color:#9999;


}
.floorplan-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    margin-top:50px;
}
.fplan-col{
    width: 147px;
    height: 48px;
    top: 7661px;
    border:1px solid #D6B25E; 
    color:#D6B25E;
    text-align:center;  
    justify-content:center;
    display:flex;
    flex-wrap:wrap;
    align-content:center;
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;
}
.floorplan-col1{
    width: 653.33px;
height: 552px;
top: 7445px;
left: 717px;
padding: 11.63px 26.82px 11.63px 26.82px;
border: 1.94px;
gap: 5.82px;

}

.floorplan-row{
    display:flex;
    flex-wrap:wrap;
    padding-top:50px;
    width:1440px;
    margin-left:72px;
}
.floorplan-col1{
    display: flex;
}

.floorplan-col2{
    display:flex;
   
    width:720px;
}
.floorplan-col2 .floorplan-text1{
font-family: Roboto;
font-size: 40px;
letter-spacing: 0em;
text-align: left;
color:#2B2E66;

}

.floorplan-col2-row1{
    flex-basis:50%;
    display:inline-block;
    
}
.floorplan-col2-row2{
    flex-basis:50%;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:20px;
    margin-top:50px; 
}
.floorplan-btn{
    width: 183.94px;
height: 48px;
left: 72px;
padding: 16px 22.47px 16px 22.47px;
background-color: #2B2E66;
color:#ffff;
margin-top:30px;
}
.floorplan-col1 img,.fplan-col image{
    width: 599.7px;
height: 528.73px;
top: 7445px;


}
/*---------------------------------------part10---------------------*/
#prices,.price-container{
    width: 1440px;
height: 744px;
top: 8077px;
background-color: #2B2E66;
padding-top:10px;
margin-top: 50px;
}
.price-p1{
    width: 218px;
height: 53px;
top: 8157px;
margin-left: 611px;
font-family: Roboto;
font-size: 46px;
font-weight: 600;
line-height: 53px;
letter-spacing: 0em;
text-align: center;
color:#ffff;
}
.price-p2{
text-align: center;
font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 27px;
width:1286px;
height:59px;
margin-left:76px;
color:#ced0f1;
margin-top: 25px;
}
.price-box{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin-left:224px;
    margin-top:100px;
}
.price-box1{
    width: 271px;
height: 237px;
top: 8359px;
box-shadow: 11.983333587646484px 11.234375px 52.427085876464844px 0px #00000005;
background-color: #ffff;
display: inline-grid;
place-items: center;
margin-right:85px;
}
.price-box1 p{
    font-family: Roboto;
font-size: 27px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
width: 201px;
height: 36px;
top: 8394px;
left: 259px;
color:#747474;
}
.price-box1.fa-lock{
    width: 31.21px;
height: 37.45px;
top: 8450px;
left: 344px;
border: 5px;

} 
.price-btn{
    width:152.96px;
height: 40.47px;
top: 8525px;
left: 283px;
padding: 11.23px 14.98px 11.23px 14.98px;
color:#ffff;
background-color: #D6B25E;
border:none;
font-size:16px;
font-weight: 700;
line-height: 18.16px;
font-family: Roboto;
margin-left: 10px;
}
.price-btn2{
    width: 216px;
height: 48px;
top: 8693px;
margin-left: 612px;
padding: 12.5px 35px 12.5px 35px;
background-color: #D6B25E;
color:#ffff;
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: right;
border:none;
margin-top:100px;
}

.price-box1:hover{
    width: 326px;
    height: 308px;
    top: 8325px;
    left: 557px;
    box-shadow: 11.983333587646484px 11.234375px 52.427085876464844px 0px #00000005;
    background-color: #D6B25E;
color:#ffff;
}
/*----------------------------------part11----------------------*/
#review,.review{
    width:1440px;
    height:744px;
    background-color: #f9f9f9;
}

.head{
height: 53px;
width:497px;
top: 8901px;
margin-left: 472px;
color: #2B2E66;
text-align: center;
padding-top:50px;

}
.review .box-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 100px;
    margin-left:180px;
}
.review .box-cont .box-4{
    padding: 37.5px;
    position: relative;
    width: 330px;
    height: 448px;
    box-shadow: 11.983333587646484px 11.234375px 52.427085876464844px 0px #00000005;
    background-color: #ffff;
    
}
.review .box-cont .box-4 .fa-quote-right{
    position: absolute;
    bottom: 3rem; right:3rem;
    font-size: 6rem;
    color: #eee;
}
.review .box-cont .box-4 p{
    color: #999;
    font-size: 19.47px;
    line-height: 1.5;
    padding-top: 2rem;
}
.review .box-cont .box-4 .kl{
    width: 165px;
height: 26px;
color: #D6B25E;
}

/*--------------------------------part12--------------*/
.p12{
    margin-top: 50px;
    background-color: #2B2E66;
    width: 1440px;
height: 904px;
background-position: center;
background-size: cover;
}
.prem{
    color: #fff;
    text-align: center;
font-family: Roboto;
font-size: 46px;
font-weight: 600;
line-height: 53px;
letter-spacing: 0em;
text-align: center;
padding-top: 80px;
}
.prem1{
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color: #fff;
margin-top: 20px;
}
.sitelay{
    padding-top: 60px;
    margin-left: 285px;
    display: flex;
    background-image: url('youtube.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 862px;
height: 448px;
top: 9802px;
left: 288px;
margin-top: 50px;
}
.tin{
    width: 112px;
    height: 98px;
top: 9980px;
margin-left: 373px;
display:flex;
justify-content: center;
align-items: center;
padding-top: 160px;
}
.vid{
        width: 196px;
    height: 48px;
    top: 1304px;
    left: 97px;
    background: #D6B25E;
    border: none;
    align-items: center;
    margin-left: 610px;
    color: #fff;
    margin-top: 75px;
    }
    
/*------------------------------part13-----------------------------*/
#projects,.project-container{
    background-color: #F9F9F9;
    width:1440px;
    height:695px;
}
.project-p1{
    padding-top:50px;
width: 420px;
height: 53px;
top: 10538px;
margin-left: 509.47px;}
.project-p1,.loc-p1{
font-family: Poppins;
font-size: 46px;
font-weight: 600;
line-height: 53px;
letter-spacing: 0em;
text-align: center;
color:#2B2E66;
}
.project-p2,.loc-p2{
height: 59px;
top: 10607px;
left: 76px;
font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color:#999999;
margin-top: 67px;
}
.project-img-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 100%;
    margin-left:71px;
    margin-top:40px;
}
.project-img{
    display:inline-grid;
    place-items:center;
    align-content: center;
    width: 330px;
    height: 400px;
    top: 10706px;
    left: 555px;
}
.project-img p{
    width: 216px;
height: 56px;
top: 11122px;
left: 237px;
font-family: Roboto;
font-size: 26px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
color:#D6B25E;
padding-top:10px;
}
.project-img p>span{
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
   line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color:#999999;
    width:216px;
    height:56px;
}
.project-sym{
    display:inline-grid;
    place-items:center;
    align-content: center;
    border:3px solid #D6B25E;
    color:#D6B25E;
    width:40px;
    height:40px;
    font-size:45px;
    font-weight: 700;
    margin-top:160px;
}
.project-img img{
    width:330px;
    height:400px;
}
.project-sym:hover{
    background-color:#D6B25E;
    color:#ffff;
}
/*---------------------------part14-------------------------*/
#location,.location-container{
    width: 1440px;
height: 848px;

}
.loc-p1{
    padding-top:50px;
    width: 194px;
    height: 53px;
    margin-left:622.47px;
    margin-top: 20px;
}
.loc-boxes{
    display:flex;
    flex-wrap:wrap;
    width:1440px;
    height:600px;
    margin-top: 30px;
}
.loc-box1{
    display:flex;
    flex-basis:50%;
    background-color: #2B2E66;
    
}
.loc-box1-heading{
display:inline-block;
top: 11586px;
font-family: Roboto;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: center;
margin-top:80px;
padding-bottom:20px;
color: #fff;
}

form { 
    margin-left:148px;
    align-items: center;
    place-content: center;
    display:inline-grid;
    justify-content:center;
    align-items:center;
    align-content: center;
}
input[id="full_name"],
input[id="emailloc"] {
    width: 424px;
height: 56px;
top: 11760px;
left: 148px;
border: 1.5px solid #636699;
background-color: #2B2E66;
text-align: center;
}
input[id="phone"]{
    width:299px;
    height:56px;
    border: 1.5px solid #636699;
    background-color: #2B2E66;
    display:flex;
}
.phonenumber{
    display:flex;
    flex-direction: row;
}
.loc-sub {
    background-color: #D6B25E;
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
width: 239.67px;
height: 48px;
top: 11979px;
left: 240px;
border-radius: 5px;
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 18px;

}

.loc-sub:hover {
    background-color: #0056b3;
}
select {
    padding: 10px;
    width: 125px;
top: 11760px;
left: 148px;
background-color: #2B2E66;
display:flex;
color:#ffff;
font-family: Roboto;
font-size: 21px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: right;

}
.loc-box2{
    display:flex;
    flex-basis:50%;
}
/*--------------------------part15------------------*/
.pm{
    font-family: Roboto;
    font-size: 46px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    color: #2B2E66;
    margin-top: 50px;
    }
    .pm1{
        font-family: Roboto;
    font-size: 27px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #2B2E66;
    height: 38px;
    top: 12302px;
    left: 180px;
    margin-top: 20px;
    margin-left: 155px;
    }
    .pm2{
        width: 981.93px;
    height: 138px;
    font-size: 19px;
    top: 12356px;
    left: 180px;
    color: #747474;
    margin-top: 22px;
    margin-left: 158px;
    
    }
    .tmp{
    border: 3px;
    margin-left: 750px;
    }
    .ppt{
        width: 1080px;
    border: 2px;
    margin-left: 150px;
    
    }
    .tmp1{
        border: 3px;
    margin-left: 400px;
    }
    .tmp2{
        border: 3px;
    margin-left: 520px;
    }
    .tmp3{
        border: 3px;
    margin-left: 440px;
    }
    .faq .pm2{
        display:none;
    }
/*--------------------part16---------------------------*/
.p16{
    width: 1440px;
height: 456px;
top: 12790px;
background-color:#2B2E66;
margin-top: 50px;
display:flex;
}
.omg{
    width: 246.18px;
height: 56.17px;
top: 12926px;
margin-left: 70px;
margin-top:120px;
}
.follow{
    width: 110px;
height: 26px;
top: 13036px;
margin-left: 85px;
color: #fff;
margin-top: 57px;
}
.van{
height: 28.51px;
top: 13082px;
left: 240.13px;
margin-left: 85px;
margin-top:30px;
}
.van img{
    padding-right:12px;
}
.address{
    width: 368.49px;
height: 182px;
top: 12926px;
left: 555px;
color: #fff;
text-align:left ;
margin-left: 212px;
margin-top: 155px;
}
.us{
    width: 315px;
height: 162px;
top: 12926px;
left: 1055px;
color: #fff;
margin-left: 200px;
margin-top: 160px;

}
.credit{
height: 21px;
margin-top: 20px;
color: #747474;
margin-left: 435px;
font-size: 15.73px;
}